.filter-button-group {
	margin-bottom: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	li {
		padding: 5px 20px;
		margin: 5px;
		color: inherit;
		text-transform: uppercase;
		background-color: #ebc985;
		border-radius: $radius;
		cursor: pointer;
		transition: background-color 0.3s;
		&:hover {
			background-color: #fff;
		}
	}
}