.round-picture {
	display: block;
	// margin: 0 auto;
	text-align: center;
	&__frame {
		display: inline-block;
		width: 100px;
		height: 100px;
		overflow: hidden;
		border-radius: 50%;
		background-color: silver;		
	}
	&__img {
		width: 100%;
		height: 100%;
		-o-object-fit: cover;
		object-fit: cover;
	}
	&__text {
		// style
	}
}


// modifier
.round-picture_big {
	.round-picture__frame {
		width: 200px;
		height: 200px;
	}
}