%button {
	display: inline-block;
	min-width: 290px;
	padding: 26px 30px 22px;

	font-size: 1.125rem;
	font-weight: bold;
	line-height: 1;
	color: white;
	text-align: center;
	text-transform: uppercase;
	cursor: pointer;
	background-color: transparent;
	border-radius: $radius;

	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	@media (max-width: $tablet) {
		min-width: auto;
		max-width: 100%;
	}
}

.button {@extend %button;}

.button-3d {
	@extend %button;
	position: relative;
	top: 0;
	background-color: hsl(206, 93%, 70%);
	box-shadow: 0 4px 0 hsl(206, 93%, 44%),0 5px 3px rgba(0,0,0,0.2);

	&:hover,&:focus {
		box-shadow: 0 4px 0 hsl(206, 93%, 42%),0 5px 3px rgba(0,0,0,0.2);
	}
	&:active,&.active,&.is-active {
		top: 3px;
		transition: box-shadow .15s, top .15s;
		box-shadow: 0 1px 0 hsl(206, 93%, 34%), 0 2px 3px rgba(0,0,0,0.1);
	}
}

// modifiers 
.button-3d_orange {
	background-color: hsl(19, 80%, 61%);
	box-shadow: 0 4px 0 hsl(19, 55%, 52%),0 5px 3px rgba(0,0,0,0.2);

	&:hover,&:focus {
		box-shadow: 0 4px 0 hsl(19, 55%, 48%),0 5px 3px rgba(0,0,0,0.2);
	}
	&:active,&.active,&.is-active {
		box-shadow: 0 1px 0 hsl(19, 55%, 30%), 0 2px 3px rgba(0,0,0,0.1);
	}
}

.button-3d_green {
	background-color: hsl(169, 79%, 43%);
	box-shadow: 0 4px 0 hsl(169, 78%, 36%),0 5px 3px rgba(0,0,0,0.2);

	&:hover,&:focus {
		box-shadow: 0 4px 0 hsl(169, 78%, 30%),0 5px 3px rgba(0,0,0,0.2);
	}
	&:active,&.active,&.is-active {
		box-shadow: 0 1px 0 hsl(169, 78%, 26%), 0 2px 3px rgba(0,0,0,0.1);
	}
}

.button-3d_blue {
	background-color: hsl(195, 79%, 55%);
	box-shadow: 0 4px 0 hsl(195, 65%, 46%),0 5px 3px rgba(0,0,0,0.2);

	&:hover,&:focus {
		box-shadow: 0 4px 0 hsl(195, 65%, 40%),0 5px 3px rgba(0,0,0,0.2);
	}
	&:active,&.active,&.is-active {
		box-shadow: 0 1px 0 hsl(195, 65%, 36%), 0 2px 3px rgba(0,0,0,0.1);
	}
}